@import org.bitcoins.core.currency._
@(stats: ZapStats, metadataStats: MetadataStats)(implicit request: MessagesRequestHeader)

@main("Zapalytics") {

    <h2>Zapalytics</h2>

    <h3>Zap Stats</h3>
    <p>
        Total amount zapped: @{stats.totalZapped.satoshis} / @{Bitcoins(stats.totalZapped.satoshis).decimalString} BTC
    </p>
    <p>
        Zap count: @stats.count
    </p>
    <p>
        Average Zap Amount: @stats.averageZapAmount.toSatoshis
    </p>
    <p>
        Unique LN Nodes Zapped: @stats.uniqueNodeIds
    </p>
    <p>
        Unique Users Zapped: @stats.uniqueUsers
    </p>
    <p>
        Unique Zap Authors: @stats.uniqueAuthors
    </p>

    <h3>Metadata Stats</h3>

    <img id='pieChart' src="@{metadataStats.pieChartUrl}" alt="" title="pieChart" width="1000" height="600" />
}
